* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global-class {
    font-family: "Inter";
  }
  
/* mobile */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .nav-toggle {
  background: none;
  border: none;
}

.nav #logo,
.nav .nav-container {
  display: none;
}

#content {
    width: 100%;
    height: 100%;
}

#mobile-nav-bar {
    width: 100%;
    position: absolute;
    padding: 30px 20px;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
}

#mobile-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#description-banner-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 100%;
}

#description-banner-substitles {
    padding-top: 20px;
    max-width: 570px;
}

.nav-button {
    background-color: #75F348;
    align-items: center;
    border: 1px solid  #75F348;
    border-radius: .25rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 22px;
    font-weight: 600;
    justify-content: flex-start;
    margin: 20px 0 0 0 ;
    padding: 20px;
    position: relative;
    text-decoration: none;
    width: 250px;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    border-color: #75F348;
    background-color: #75F348;
    color: white;
  }
  
  .nav-button:active {
    background-color: #75F348;
    transform: translateY(0);
  }

  #logo-text {
    margin-bottom: 30px;
  }

  #logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #icon-group {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  
  #banner-mobile {
    display: flex;
    flex-direction: column;
}



/* tablet */
@media screen and (min-width: 576px) {
    #content {
        background-color: lightblue;

    }
}

/* desktop */
@media screen and (min-width: 1200px) {
  #icon-group #logo-text {
      position: absolute;
      right: 150px;
      bottom: 80px;
      width: 200px;
  }

  #description-banner-text {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      height: 100%;
  }

  .spacing-description {
      margin-bottom: 30px;
  }

  .nav {
    background-color: #fcfcfc;
  }

  .nav .nav-toggle {
    display: none;
  }

  .nav #whitelogo {
    display: none;
  }

  .nav #logo,
  .nav .nav-container {
    display: unset;
  }

  .nav .nav-container {
    display: flex;
  }

  .nav .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-bar {
      background-color: white;
      width: 100%;
      display: flex;
      align-items: center;
  }
  
  .nav-container {
      width: 100%;
      display: flex;
      align-items: center;
  }
  
  .nav-last-section {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
  }
  
  .nav-link {
      margin: 0 10px
  }
  
  .nav-button {
    background-color: transparent;
    align-items: center;
    border: 1px solid  #75F348;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #75F348;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    width: 250px;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    border-color: #75F348;
    background-color: #75F348;
    color: white;
  }
  
  .nav-button:active {
    background-color: #75F348;
    transform: translateY(0);
  }
  
  .image-description {
    color: #75F348;
    display: flex;
    flex-direction: column;
    Width: 784px;
    Height: 377px;
    margin-right: 20px;
  }
  
  .span-img-caption {
      margin: 10px;
  }
  
  .text-span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1C50EA;
  }
  
  .about-moral {
      margin: 0 50px;
  }
  
  .resume-container {
      display: flex;
  }
  
  .title-h1 {
    color: #1C50EA;
    font-size: 80px;
    font-weight: 900;
    line-height: 96.82px;
    text-align: left;
  }
  
  .how-works-container {
      display: flex;
      justify-content: center;
  }
  
  .art {
      display: flex;
      flex-direction: column;
  }
  
  .art-icon {
      margin: 12px;
      width: 100px;
  }
  
  .spray-icon {
      margin: 17px;
      width: 90px;
  }
  
  .how-works {
      margin: 50px;
  }
}


