* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global-class {
    font-family: "Inter";
}

.title-h1 {
  color: #1C50EA;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 40px;
}
  
/* mobile */

.section-works,
.section-artist,
.section-faqs,
.section-how-works,
.about-moral {
  padding: 40px 20px;
}

.section-faqs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav .nav-toggle {
  background: none;
  border: none;
}

.nav #logo,
.nav .nav-container {
  display: none;
}

#content {
    width: 100%;
    height: 100%;
}

#mobile-nav-bar {
    width: 100%;
    position: absolute;
    padding: 30px 20px;
    color: white;
    top: 0;
    left: 0;
    height: 100%;
}

#mobile-nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#description-banner-text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 100%;
}

#description-banner-substitles {
    padding-top: 20px;
    max-width: 570px;
}

.nav-button {
    background-color: #75F348;
    align-items: center;
    border: 1px solid  #75F348;
    border-radius: .25rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 22px;
    font-weight: 600;
    justify-content: flex-start;
    margin: 20px 0 0 0 ;
    padding: 20px;
    position: relative;
    text-decoration: none;
    width: 250px;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    border-color: #75F348;
    background-color: #75F348;
    color: white;
  }
  
  .nav-button:active {
    background-color: #75F348;
    transform: translateY(0);
  }

  #logo-text {
    margin-bottom: 30px;
  }

  #logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #icon-group {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  
  #banner-mobile {
    display: flex;
    flex-direction: column;
}

.how-works-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.how-works-container .how-works-item-content {
  display: flex;
  color: #1C50EA;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.how-works-container .how-works-item-number {
  margin-right: 8px;
}

.how-works-container .how-works-item img {
  width: 50px;
  margin-bottom: 24px;
}

.how-works-container .nav-button {
  display: none;
}

.works-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  color: #1C50EA;
  gap: 40px;
}

.works-list .works-item {
  border-radius: 16px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
  padding: 32px;
  background-color: #f2f4f8;
}

.works-list .works-item-img {
  width: 100%;
}

.works-list .works-item-date {
  font-size: 24px;
  margin-bottom: 16px;
  display: block;
}

.works-list .works-item-artist {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.works-list .works-item-artist-name {
  font-size: 24px;
  font-weight: 700;
  margin-left: 16px;
}

.works-list .works-item:nth-child(3) {
  display: none;
}

/* tablet */
@media screen and (min-width: 576px) {
    #content {
        background-color: lightblue;
    }
}

@media screen and (min-width: 650px) {
  .works-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .how-works-container {
    flex-direction: row;
  }

  .how-works-container .how-works-item img {
    width: 100px;
  }

  .how-works-container .nav-button {
    display: unset;
    margin-top: 16px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .title-h1 {
    font-size: 80px;
  }

  .section-works,
  .section-artist,
  .section-how-works,
  .about-moral {
    padding: 40px 10%;
  }

  #icon-group #logo-text {
      position: absolute;
      right: 150px;
      bottom: 80px;
      width: 200px;
  }

  #description-banner-text {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      height: 100%;
  }

  .spacing-description {
      margin-bottom: 30px;
  }

  .nav {
    background-color: #fcfcfc;
  }

  .nav .nav-toggle {
    display: none;
  }

  .nav #whitelogo {
    display: none;
  }

  .nav #logo,
  .nav .nav-container {
    display: unset;
  }

  .nav .nav-container {
    display: flex;
  }

  .nav .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-bar {
      background-color: white;
      width: 100%;
      display: flex;
      align-items: center;
  }
  
  .nav-container {
      width: 100%;
      display: flex;
      align-items: center;
  }
  
  .nav-last-section {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
  }
  
  .nav-link {
      margin: 0 10px
  }
  
  .nav-button {
    background-color: transparent;
    align-items: center;
    border: 1px solid  #75F348;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #75F348;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    margin: 0;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    width: 250px;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    border-color: #75F348;
    background-color: #75F348;
    color: white;
  }
  
  .nav-button:active {
    background-color: #75F348;
    transform: translateY(0);
  }
  
  .image-description {
    color: #75F348;
    display: flex;
    flex-direction: column;
    Width: 784px;
    Height: 377px;
    margin-right: 20px;
  }
  
  .span-img-caption {
      margin: 10px;
  }
  
  .text-span {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #1C50EA;
  }
  
  .about-moral {
      margin: 0 50px;
  }
  
  .resume-container {
      display: flex;
  }
  
  .art {
      display: flex;
      flex-direction: column;
  }
  
  .art-icon {
      margin: 12px;
      width: 100px;
  }
  
  .spray-icon {
      margin: 17px;
      width: 90px;
  }
  
  .how-works {
      margin: 50px;
  }

  .works-list {
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  .works-list .works-item:nth-child(3) {
    display: unset;
  }

  .section-works .works-cta {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
  }
}



